<% if @comment.errors.empty? %>
  <% case @discussion
     when Topic %>
    $('#new-comment').data('editor').reset()
    $('#comments').append('<%= j render(:partial => 'dashboard/topics/comment', :object => @comment) %>');
  <% when Note %>
    $('#note-card-<%= @discussion.token %> .note-comments > ul').append('<%= j render :partial => 'dashboard/notes/comment', :object => @comment %>');
    $('#note-card-<%= @discussion.token %> .body').html('<p><br></p>').blur().closest('form').removeClass('expanded');
    $('#note-card-<%= @discussion.token %> .new-note-comment').removeClass('actived');
  <% end %>

  AlertMessage.show({
    type: 'success',
    text: '<%= t 'success' %>',
    timeout: 1500
  });
<% else %>
  AlertMessage.show({
    type: 'error',
    text: '<%= @comment.errors.full_messages.join %>'
  });
<% end %>
